.button {
  font-family: $font-secondary;

  @include font-values(700, 18px, 21px, $color-text-secondary);
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  text-align: center;
  background-color: $color-brand;
  padding: 17px 27px 17px;
  letter-spacing: 0.95px;
  border: none;
  border-radius: 3px;

  &:hover {
    background-color: rgba($color-brand, 80%);
  }

  &:active {
    background-color: rgba($color-brand, 50%);
  }

  @include vp-767() {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 27px 12px;
    width: 100%;
    letter-spacing: 0.75px;
  }

  &--secondary {
    @include font-values(700, 14px, 16px, $color-text-secondary);
    padding: 10px 16px 12px;
    border: 1px solid $color-text-secondary;
    letter-spacing: 0.8px;
    background-color: transparent;

    &:hover {
      background-color: $color-text-secondary;
      color: $color-text;
    }

    &:active {
      background-color: rgba($color-text-secondary, 80%);
      color: $color-text;
    }
  }

  &--tertiary {
    @include font-values(700, 14px, 16px, $color-brand);
    padding: 10px 16px 12px;
    border: 1px solid $color-brand;
    letter-spacing: 0.8px;
    background-color: transparent;

    &:hover {
      background-color: $color-brand;
      color: $color-text-secondary;
    }

    &:active {
      background-color: rgba($color-brand, 80%);
      color: $color-text-secondary;
    }
  }
}
