.checkbox {
  label {
    display: flex;
    gap: 0 11px;
    align-items: center;
    cursor: pointer;

    &:hover .checkbox__control-description,
    &:hover .checkbox__control-mark {
      color: rgba($color-default-white, 70%);
      border-color: rgba($color-default-white, 70%);
    }

    &:active .checkbox__control-description,
    &:active .checkbox__control-mark {
      color: rgba($color-default-white, 60%);
      border-color: rgba($color-default-white, 60%);
    }
  }

  input[type="checkbox"]:checked + .checkbox__control-mark::before,
  input[type="checkbox"]:checked + .checkbox__control-mark::after {
    position: absolute;
    content: "";
    width: 1px;
    background-color: $color-default-white;
  }

  input[type="checkbox"]:checked + .checkbox__control-mark::before {
    height: 6px;
    top: 50%;
    left: calc(50% + 0px);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  input[type="checkbox"]:checked + .checkbox__control-mark::after {
    height: 3px;
    top: 50%;
    left: calc(50% - 3px);
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  input[type="checkbox"]:focus-visible + .checkbox__control-mark {
    outline: 1px solid $color-default-white;
    outline-offset: 2px;
  }
}

.checkbox__control-mark {
  border: 1px solid $color-default-white;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  flex-shrink: 0;
  position: relative;
}

.checkbox__control-description {
  @include font-values(400, 14px, 16px, rgba($color-default-white, 80%));
}
