.main-header {
  background-image: $color-header;
  position: fixed;
  width: 100%;
  z-index: 10;

  @include vp-1023() {
    position: static;
  }
}

// Костыль для модалки для ос windows что бы шапка не прыгала при блокировке скрола страницы
// Для мака вешается другой класс scroll-lock-ios. Вроде все ок, надо потестить на разных устройствах windows
.scroll-lock .main-header {
  @media (min-width: $vp-1024) {
    width: calc(100% - 17px);
  }
}
