.modal-form {
  padding-top: 37px;
  padding-bottom: 44px;
  width: 500px;
  background-color: $color-brand;

  & > h2 {
    @include font-values(400, 30px, 42px, $color-default-white);
    font-family: $font-secondary;
    margin: 0;
    margin-bottom: 4px;
  }

  & > p {
    @include font-values(400, 16px, 22px, $color-default-white);
    margin: 0;
    margin-bottom: 38px;
  }
}

.modal-form__wrapper {
  form {
    display: grid;
    gap: 20px 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "tel"
      "textarea"
      "button"
      "checkbox";
  }

  input:not(input[type="checkbox"]),
  textarea {
    @include font-values(400, 16px, 22px, $color-default-white);
    height: 50px;
    width: 100%;
    padding: 15px;
    background-color: $color-brand-tertiary;
    border-radius: 3px;
    border: none;

    &::placeholder {
      @include font-values(400, 16px, 22px, $color-default-white);
    }
  }

  input:not(input[type="checkbox"]):autofill {
    -webkit-text-fill-color: $color-default-white;
    box-shadow: 0 0 0px 1000px darken($color-brand, 6.5%) inset;
  }

  textarea {
    height: 155px;
    display: block;
    padding-top: 23px;
    height: 155px;
  }

  input:hover,
  input:active,
  textarea:hover,
  textarea:active {
    background-color: lighten($color-brand-tertiary, 10%);
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: 1px solid $color-default-white;
    background-color: $color-brand-tertiary;
  }

  .form__input-text {
    grid-area: name;
  }

  .form__input-tel {
    grid-area: tel;
  }

  .form__input-textarea {
    grid-area: textarea;
    margin-bottom: 5px;
  }

  .form__button {
    grid-area: button;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 19px;
  }

  .form__checkbox {
    grid-area: checkbox;
    justify-self: start;
    align-self: start;
    margin-bottom: 0;
    padding-left: 9px;
  }
}

.modal-form__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
