@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptmono-normal.woff2") format("woff2"), url("../fonts/ptmono-normal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptmono-bold.woff2") format("woff2"), url("../fonts/ptmono-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Robotocondensed-normal.woff2") format("woff2"), url("../fonts/Robotocondensed-normal.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Robotocondensed-bold.woff2") format("woff2"), url("../fonts/Robotocondensed-bold.woff") format("woff");
  font-display: swap;
}
